/* Global */

/* Open Sans - Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,600italic);

* {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold !important;
  color: #FFF;
}

.panel *, .well * {
  color: #9B9B9B;
}

h1, h3 {
  color: #FFF;
  letter-spacing: -.5px;
}

body {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #74DCFF;
}

.confirmusercontroller h2 {
  text-align: center;
}

.navbar {
  background-color: #FFF;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.sorry {
  text-align: center;
}

.wide {
  width: 100%;
}

.footer-cancel p {
  color: #4996B1;
  font-weight: 600 !important;
  font-size: 17px;
  font-style: italic;
}

.footer-cancel a {
  color: #4996B1;
  text-decoration: underline;
}

.footer-cancel a:hover {
  text-decoration: none;
}

.label {
  padding: 20px 40px;
}

.label-info {
  background-color: #9137ff;
}

.masthead p {
  text-align: center;
}

.title-img {
  display: block;
  margin: 40px auto;
  width: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #9B9B9B;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #9B9B9B;
}

.navbar-default .navbar-nav>li>a {
  color: #9B9B9B;
}

.prompt-review {
  font-size: 16px;
  font-style: italic;
  font-weight: 600 !important;
  margin: 0 0 3px 0;
}

.status {
  margin: 40px;
}

.status h1 {
  font-size: 36px;
}

/*===== Members Page =====*/
.accepted {
  background: #FFFB00;
}

.pending {
  background: #6e6a6e;
}

.waitlisted {
  background: #12A5FF;
}

.rejected {
  background: #D0041B;
}

.circle {
  float: right;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

