/* Global */

/* Open Sans - Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,600italic);

* {
  color: #FFF;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold !important;
}

.acceptinvitecontroller {
  letter-spacing: -.3px;
}

.alert {
  border: 2px solid;
  border-radius: 3px;
  font-style: italic;
  font-weight: 600 !important;
}

.alert-danger {
  background-color: #FF4A3F;
  border: 3px solid #EE2316;
}

.alert-success {
  background-color: #3fb618;
  border: 3px solid #34AB00;
}

body {
  background-color: #74DCFF;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  top: 0;
  width: 100%;
}

.btn:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-default,
.btn-panel,
.btn-secondary,
.btn-primary {
  padding: 10px 40px;
}

.btn-default {
  background-color: #fff;
  border: none;
  color: #74DCFF;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #74DCFF;
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 38px;
}

.btn-primary {
  background-color: #7ED321;
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #64A61B;
}

.btn-secondary {
  background-color: #EE2214;
  border: none;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: #bc1b12;
}

.btn-panel {
  background-color: #74DCFF;
  border: none;
  color: #fff;
}

.btn-panel:hover,
.btn-panel:active,
.btn-panel:focus {
  background-color: #fff;
  color: #74DCFF;
}

.confirmusercontroller .btn-default {
  margin: 0 8px;
}

.confirmusercontroller h2 {
  text-align: center;
}

.clouds {
  height: 0;
  width: 100vw;
}

.dashboardcontroller .info,
.frontpagecontroller .info {
  font-weight: 600 !important;
  font-size: 16px;
  margin-top: 95px;
  text-align: center;
}

.dashboardcontroller .info {
  margin-top: 53px;
}

h1, h3 {
  color: #FFF;
  letter-spacing: -.5px;
}

.hero-info {
  color: #f7f7f7;
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,.2);
}

.navbar {
  background-color: #FFF;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.sorry {
  text-align: center;
}

.wide {
  width: 100%;
}

.emoticon {
  font-size: 120px;
  line-height: 1em;
  margin-top: 25px;
}

.footer {
  line-height: .8em;
  margin: 120px 0;
  text-align: center;
}

.footer p {
  color: #4996B1;
  font-weight: 600 !important;
  font-size: 17px;
  font-style: italic;
}

.footer a {
  color: #4996B1;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}

.label {
  padding: 20px 40px;
}

.label-info {
  background-color: #9137ff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #9B9B9B;
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #9B9B9B;
}

.navbar-default .navbar-nav>li>a {
  color: #9B9B9B;
}

.members-wrapper * {
  color: #9B9B9B;
}

.members-wrapper {
  background-color: #D8D8D8;
}

.memberscontroller,
.settingscontroller {
  margin-top: 30px;
}

.memberscontroller {
  width: 90%;
}

.prompt-review,
.prompt-open {
  font-size: 16px;
  font-style: italic;
  font-weight: 600 !important;
  margin: 0 0 3px 0;
}

.prompt-open {
  text-align: center;
}

#signin {
  border: 0 solid #9B9B9B;
  border-bottom: 3px;
  border-left: 3px;
  border-radius: 3px;
  border-style: solid;
  color: #9B9B9B;
  font-size: 24px;
  letter-spacing: -0.5px;
  padding: 20px;
  text-align: center;
}

#signin:hover,
#signin:active,
#signin:focus {
  background-color: #fff;
  border: 0;
  margin-right: 3px;
  margin-top: 3px;
}

.status {
  margin: 35px;
}

.status h1 {
  font-size: 36px;
}

.table th {
  background-color: #D8D8D8;
}

.table td {
  background-color: #EBE8E8;
}

.title-img {
  display: block;
  margin: 40px auto;
  margin-bottom: 0;
  width: 100%;
}

/*===== Members Page =====*/
.accepted {
  background: #FFFB00;
}

.pending {
  background: #6e6a6e;
}

.waitlisted {
  background: #12A5FF;
}

.rejected {
  background: #D0041B;
}

.circle {
  float: right;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/*===== Members Page =====*/
.accept-sub-layer {
  margin-left: 20px;
}

.accept-sub-layer input {
  color: #9B9B9B;
}

.accept-invite-panel h4 {
  color: #74DCFF;
}

.accept-invite-panel h5 {
  font-size: 18px;
  color: #74DCFF;
}

.accept-invite-panel p {
  color: #9B9B9B;
  font-size: 14px;
  font-weight: 400 !important;
}

.accept-invite-panel .liability-btn {
  width: 100%;
  text-align: center;
}

.accept-invite-panel .liability-btn a {
  color: #fff;
  display: inline-block;
  padding: 20px;
}

.accept-invite-panel .liability-btn a:hover {
  color: #9B9B9B;
  background-color: #eeeeee;
}

.accept-invite-panel .resume {
  position: relative;
  text-align: center;
  color: #fff;
  width: 166px;
  left: -83px;
  margin-left: 50%;
}

.accept-invite-panel .resume input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.accept-invite-panel .resume:hover {
  background-color: #eeeeee;
}

.accept-invite-panel .resume:hover span {
  color: #9B9B9B;
}

.accept-invite-panel .checkbox label {
  color: #9B9B9B;
}

.accept-invite-panel .checkbox label a {
  color: #9B9B9B;
  text-decoration: underline;
}

.accept-invite-panel .checkbox label a:hover {
  color: #74DCFF;
  text-decoration: none;
}

.accept-invite-panel .radio label {
  color: #9B9B9B;
}

.school-year-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: #fff;
   border: 1px solid #ccc;
}

.school-year-select select {
   background: transparent;
   width: 100%;
   color: #9B9B9B;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
}
