/* Global */
body {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background: #293FB5 url('../img/bg.png') no-repeat;
  background-attachment: fixed;
}

.sorry {
  text-align: center;
}

.wide {
  width: 100%;
}

.label {
  margin-right: 7px;
}

/* Front Page */
#crest {
  height: 350px;
  max-width: 400px;
  background: url('../img/crest.png') no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
}

.masthead p {
  text-align: center;
}

