/* Global */
body {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e9eaed;
}

.sorry {
  text-align: center;
}

.wide {
  width: 100%;
}

.label {
  margin-right: 7px;
}

.masthead p {
  text-align: center;
}

/*===== Members Page =====*/
.accepted {
  background: #FFFB00;
}

.pending {
  background: #6e6a6e;
}

.waitlisted {
  background: #12A5FF;
}

.rejected {
  background: #D0041B;
}

.circle {
  float: right;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
